$almost-black: #222;

.nav {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
    }
}

.social-icons {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
        margin: 0 3px;

        i {
            color: $almost-black;

            &:hover {
                color: lightblue;
            }
        }
    }
}

.tags {
    list-style: none;
    padding: 0;
    margin: 0;

    .tag {
        display: inline-block;
        margin-right: 5px;

        a {
            display: block;
            padding: 3px 7px;

            background: #dedede;
            color: $almost-black;
            text-decoration: none;
            border-radius: 3px;

            &:hover {
                background: #c5c5c5;
            }
        }
    }
}