$almost-black: #373737;
$almost-white: #fbfbfb;
$light-grey: #656565;
$highlight: #3d7e9a;

$font-large: 35px;
$font-med: 18px;
$font-small: 15px;

body, html {
    margin: 0;
    padding: 0;

    color: $almost-black;
    font-family: 'Noto Serif', serif;
}

sup {
    vertical-align: top;
    font-size: 0.7em;
    position: relative;
    top: -7px;
}

a {
    color: $highlight;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.footnotes {
    font-size: 0.8em;
}

hr {
    border: 0;
    height: 1px;
    background: #e6e6e6;
    background-image: linear-gradient(to right, #e6e6e6, #f5f5f5, #e6e6e6);
}

.nav {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
        margin: 0 3px;
    }
}

.social-icons {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
        margin: 0 6px;

        i {
            font-size: 24px;
            color: $almost-black;

            &:hover {
                color: $highlight;
            }
        }
    }
}

/*code blocks*/
.highlight {
    border-left: 3px solid $highlight;
    background-color: $almost-white;
    padding: 25px 0 25px 30px;

    pre {
        margin: 0;
        background: none !important;
    }
}

.tags {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: $font-small;
    line-height: 1em;

    .tag {
        display: inline-block;
        margin-right: 5px;

        a {
            display: block;
            padding: 5px 8px;

            background: #dedede;
            color: $almost-black;
            text-decoration: none;
            border-radius: 3px;

            &:hover {
                background: #c5c5c5;
            }
        }
    }
}

.main, .header {
    width: 810px;
    margin: 0 auto;
    padding: 0 20px;
}

@media only screen and (max-width: 850px) {
    .main, .header {
        width: 100%;
        box-sizing: border-box;
    }
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;

    .nav {
        margin: 20px 0;
    }
}

.post, .page {
    font-size: $font-med;
    line-height: 1.6em;

    .title {
        margin: 0 0 5px 0;
        font-size: $font-large;
        line-height: 1.2em;

        a {
            color: $almost-black;
            text-decoration: none;
        }
    }

    .meta {
        display: flex;

        .date {
            display: block;
            margin-right: 15px;

            line-height: 24px;
            color: $light-grey;
            font-size: $font-small;
        }
    }

    .summary, .content {
        img {
            max-width: 100%;
        }
    }

    .continue-reading {
        display: inline-block;
        margin-bottom: 40px;
    }
}

.post-list .posts-by-year, .taxonomy-list {
    list-style: none;
}
