$almost-black: #373737;
$almost-white: #fbfbfb;
$light-grey: #656565;
$highlight: #3d7e9a;

$font-large: 35px;
$font-med: 18px;
$font-small: 15px;

body, html {
    margin: 0;
    padding: 0;

    color: $almost-black;
    font-family: 'Noto Serif', serif;
}

sup {
    vertical-align: top;
    font-size: 0.7em;
    position: relative;
    top: -7px;
}

a {
    color: $highlight;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.footnotes {
    font-size: 0.8em;
}

hr {
    border: 0;
    height: 1px;
    background: #e6e6e6;
    background-image: linear-gradient(to right, #e6e6e6, #f5f5f5, #e6e6e6);
}

.social-icons {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px 15px;
    flex-wrap: wrap;
    justify-content: center;

    li i {
        font-size: 24px;
        color: $almost-black;

        &:hover {
            color: $highlight;
        }
    }
}

/*code blocks*/
.highlight {
    border-left: 3px solid $highlight;
    background-color: $almost-white;
    padding: 15px 0 15px 20px; 
    overflow-x: auto;

    pre {
        margin: 0;
        background: none !important;
        float: left;

        code {
            display: block;
            margin-right: 25px;
        }
    }
}

.tags {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: $font-small;
    line-height: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    .tag {
        a {
            display: block;
            padding: 5px 8px;
            white-space: nowrap;

            background: #dedede;
            color: $almost-black;
            text-decoration: none;
            border-radius: 3px;

            &:hover {
                background: #c5c5c5;
            }
        }
    }
}

.main, .header {
    width: 810px;
    margin: 0 auto;
    padding: 0 20px;
}
.main {
    margin-bottom: 3em;
}

@media only screen and (max-width: 850px) {
    .main, .header {
        width: 100%;
        box-sizing: border-box;
    }

    .highlight {
        font-size: 0.8em;
        line-height: 1.4em;
    }
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;

    .nav {
        margin: 20px 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 8px 15px;
        justify-content: center;
    }
}

.post, .page {
    font-size: $font-med;
    line-height: 1.6em;

    .title {
        margin: 0 0 0.3em 0;
        font-size: $font-large;
        line-height: 1.1em;

        a {
            color: $almost-black;
            text-decoration: none;
        }
    }

    .meta {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        align-items: center;

        .date, .num-comments {
            font-size: $font-small;
            white-space: nowrap;
        }

        .date {
            color: $light-grey;
        }
    }

    .summary, .content {
        img {
            max-width: 100%;
        }
    }

    .continue-reading {
        display: inline-block;
        margin-bottom: 40px;
    }
}

.post-list .posts-by-year, .taxonomy-list {
    list-style: none;
}

div.pagination ul.pagination {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;

    li {
        a {
            display: inline-block;
            padding: 0px 6px;
        }

        &.disabled, &.active {
            pointer-events: none;
            a {
                color: $light-grey;
            }
        }
    }
}
