{{ define "main" }}
{{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.homepageTypes) }}
{{ range $paginator.Pages }}
<article class="{{ .Type }}">
    <h2 class="title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    <div class="meta">
        <span class="date">
        {{ if eq .Date.Year now.Year }}
            {{ .Date.Format "2 January" }}
        {{ else }}
            {{ .Date.Format "2 January 2006" }}
        {{ end }}
        </span>
        {{ with .Page.Params.Tags }}{{ partial "tags.html" . }}{{ end }}
    </div>
    <p class="summary">{{ .Summary }}</p>
    <a href="{{ .RelPermalink }}" class="continue-reading">Continue reading</a>
</article>
{{ end }}
<div class="pagination">
    {{ template "_internal/pagination.html" . }}
</div>
{{ end }}